section.resume-section {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  max-width: 75rem;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    .resume-item {
      .resume-date {
        min-width: 12rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .portifolio-image{
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 577px) {
  .portifolio-image{
    max-width: 256px;
    margin-right: 10px;
  }
}

.portifolio-icons{
  max-height: 30px;
  margin-right: 5px;
}

.mb-5{
  margin-bottom: 1rem !important;
}

.workflow{
  margin-top: 1rem;
}